<main>
  <a href="https://api.whatsapp.com/send?phone=5491134747623&text=hola%20buenas%20,%20quisiera%20contratar%20tus%20servicios" class="float" target="_blank" >
            <i class="fa-brands fa-whatsapp" ></i>
  </a>
    <section class="hero" aria-label="Sección principal">
      <div class="hero-content">
        <img src="/images/valtrion sin fondo mejorado.png" alt="Valtrion Logo" class="hero-logo">
        <h1>Impulsamos tu presencia digital</h1>
        <p>En Valtrion, combinamos estrategia, diseño y tecnología para llevar tu proyecto al siguiente nivel.</p>
        <a href="/servicios" class="btn-valtrion" aria-label="Conoce más sobre nuestros servicios">Conocé más</a>
      </div>
    </section>
  </main>
<footer class="footer">
  <p>&copy; 2025 Valtrion. Todos los derechos reservados.</p>
  <div class="footer-links">
      <a href="privacidad.html" aria-label="Política de privacidad">Política de Privacidad</a>
      <a href="terminos.html" aria-label="Términos y condiciones">Términos y Condiciones</a>
  </div>
</footer>
<script src="script servicios.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>